<button class="Modal-closeBtn" {{action "close"}} type="button" data-a11y-dialog-hide aria-label="Close this photo">
	<!-- &times; -->
	<svg class="logo" width="30" height="39" viewBox="0 0 100 130" xmlns="https://www.w3.org/2000/svg"><title>Close</title><g transform="matrix(-1 0 0 1 100 0)" fill="#E42520" fill-rule="evenodd"><path d="M0,0 L100,0 L100,100 L0,100 L0,0 Z M75,43.5 C85.2172679,43.5 93.5,35.2172679 93.5,25 C93.5,14.7827321 85.2172679,6.5 75,6.5 C64.7827321,6.5 56.5,14.7827321 56.5,25 C56.5,35.2172679 64.7827321,43.5 75,43.5 Z M0,0 L50,0 L50,50 L0,50 L0,0 Z"/><circle cx="75" cy="110" r="20"/><circle cx="25" cy="110" r="20"/><path d="M0 10L10 0 30 0 40 10 30 50 10 50"/></g></svg>
</button>

<div class="Modal-inner" role="dialog">
	{{yield}}
</div>

