/* A CSS loader/spinner */

.Loader {
  // transform: scale(0.5);
  top: initial;
  left: initial;
  margin: 0;
}

figure .Loader {
  display: none;
}

.Modal .Loader {
	position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px -50px;
	z-index: 1;
}


.Loader-eye {
	width: 20px;
	height: 20px;
	background-color: hsla(0, 0%, 0%, 0.1);
	border-radius: 50%;
	box-shadow: 30px 0px 0px 0px hsla(0, 0%, 0%, 0.1);
	position: relative;
}

.Loader-eye::after {
	background-color: $blue;
	width: 8px;
	height: 8px;
	box-shadow: 30px 0px 0px 0px $blue;
	border-radius: 50%;
	left: 0;
	top: 8px;
	position: absolute;
	content: "";
	animation: eyeball 2s infinite alternate;
}

@keyframes eyeball {
	0% {
		transform: translateX(9px);
	}
	100% {
		transform: translateX(0);
	}
}

