html {
  font-family: Alegreya, serif;
  font-size: 19px;
  line-height: 1.4;
  color: hsl(0, 0%, 5%);
}

body {
  margin: 0;
}

h1 {
  font-weight: normal;
  margin-bottom: 1rem;
}

header {
  margin: 2rem 1rem 3rem;
}

header p {
  max-width: 36rem;
}

address {
  display: flex;
  flex-flow: row wrap;
  font-style: normal;
  font-size: 15px;
  font-family: 'Alegreya SC', 'Alegreya', serif;
  letter-spacing: 0.01em;
  margin-bottom: 1rem;
}

address p {
  margin-right: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

address a {
  color: hsl(0,0%,10%);
}

/* Sections are used as grid wrappers */
section {
  display: flex;
  flex-flow: row wrap;
}

section > * {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 100%;
}

/* Modifier that turns the grid into a horizontal thumbnail style */
.Grid--row {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  flex-flow: row nowrap;
  min-height: 2rem;
}

.Grid--row figure {
  margin: auto 0 0;
}

.Grid--row > * {
  flex: 1;
}

.Grid--row > a:hover {
  flex: 160px;
}

/* .Grid--row > a.active { */
/*   outline: 2px solid blue; */
/* } */

/* Wraps all images */

figure {
  margin: auto 0.5rem 1.5rem 0;
  position: relative;
  overflow: hidden;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

figure img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* Wrapper for .Ratio. Only here to avoid flexbox directly on .Ratio */
figure > div:last-child {
  margin-top: auto;
}

figure .Ratio {
  margin-top: auto;
  background-color: hsl(0, 0%, 90%);
}

img.lazyload,
img.lazyloading {
  opacity: 0;
}

figure img.lazyloaded {
  opacity: 1;
  transition: opacity 200ms 100ms;
}

@media (min-width: 568px) {
  body {
    margin-left: 4%;
    margin-right: 4%;
  }

  section > * {
    flex-basis: 33%;
  }
}

@media (min-width: 1024px) {
  section > * {
    flex-basis: 25%;
  }

  section > *:nth-child(5n - 2) {
    flex-basis: 50%;
  }
}

@media (min-width: 1440px) {
  section > * {
    flex-basis: 16%;
  }

  section > *:nth-child(4n) {
    flex-basis: 16%;
  }

  section > *:nth-child(6n-4) {
    flex-basis: 33%;
  }
}

.Modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  /* transition: background-color 200ms 500ms, transform 500ms cubic-bezier(0.4, 0, 0.2, 1); */
  pointer-events: none;
  transform: translate3d(0, 100%, 0);
  background-color: black;
}

.Modal.is-open {
  display: flex;
  pointer-events: auto;
  cursor: s-resize;
  transform: translate3d(0, 0, 0);
}

.Modal figure {
  width: 100%;
  margin: auto;
}

.Modal img {
  width: auto;
  position: static;
  margin: auto;
  max-height: 100%;
  max-height: 100vh;
  /* left: 50%; */
  /* transform: translate3d(-50%, 0, 0); */
  object-fit: contain;
}

.Modal .Ratio {
  background-color: transparent;
  display: none;
}

.Modal img.lazyload + .Loader,
.Modal img.lazyloading + .Loader {
  display: block;
}

.Modal a {
  color: hsl(0, 0%, 80%);
  font-size: 1.7rem;
  padding: 0.2em;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.Modal a:hover,
.Modal a:active,
.Modal a:focus {
  outline: 0;
  color: hsl(0, 0%, 100%);
}

.Modal a:first-child {
  cursor: w-resize;
}

.Modal a:last-child {
  cursor: e-resize;
}

/* Wrap <p> tags in this */
.TextColumns {
  display: flex;
  flex-flow: row wrap;
}

.TextColumns p {
  min-width: 9rem;
  flex: 1;
  padding-right: 1rem;
}

/* A CSS loader/spinner */
.Loader,.Loader i{position:absolute}.Loader{width:100px;height:40px;top:50%;left:50%;margin:-20px -50px}.Loader i{width:20px;height:20px;background:hsl(0, 0%, 10%);border-radius:50%}.Loader i:nth-child(1){-webkit-animation:animate 2s linear infinite;animation:animate 2s linear infinite}.Loader i:nth-child(2){-webkit-animation:animate 2s linear infinite -.4s;animation:animate 2s linear infinite -.4s}.Loader i:nth-child(3){-webkit-animation:animate 2s linear infinite -.8s;animation:animate 2s linear infinite -.8s}.Loader i:nth-child(4){-webkit-animation:animate 2s linear infinite -1.2s;animation:animate 2s linear infinite -1.2s}.Loader i:nth-child(5){-webkit-animation:animate 2s linear infinite -1.6s;animation:animate 2s linear infinite -1.6s}@-webkit-keyframes animate{0%,100%{left:100px;top:0}80%{left:0;top:0}85%{left:0;top:-20px;width:20px;height:20px}90%{width:40px;height:15px}95%{left:100px;top:-20px;width:20px;height:20px}}@keyframes animate{0%,100%{left:100px;top:0}80%{left:0;top:0}85%{left:0;top:-20px;width:20px;height:20px}90%{width:40px;height:15px}95%{left:100px;top:-20px;width:20px;height:20px}}

.Loader {
  transform: scale(0.8);
}

figure .Loader {
  display: none;
}

