<aside>
	{{outlet}}
</aside>

<main>
	{{#image-gallery currentRouteName=currentRouteName items=model as |photo|}}
		<a href="{{href-to 'photo' photo.id}}">
			{{x-img img=photo}}
		</a>
	{{/image-gallery}}

	{{theme-switcher}}
</main>

